# ModelSim / Questa
work/
transcript
vsim.wlf
*.wlf
*.mpf
*.mti

# Toolchain
xpack-riscv-none-elf-gcc-*/

# Build files
*.o
*.elf
*.bin
*.map
*.log
*.dump
mem.dump

# Quartus
db/
incremental_db/
output_files/

# Temporary files
_temp/

# VSCode
.vscode/

# Ignore folders/files
00_src/
han
world